# Python bytecode & caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments 
.venv/
venv/
env/
ENV/

# Distribution / packaging 
localpycs/
*.egg-info/
*.egg
Analysis-00.toc
base_library.zip
EXE-00.toc
PKG-00.toc
PYZ-00.toc
PYZ-00.pyz

# Testing & coverage 
.pytest_cache/
.coverage
htmlcov/

#  IDE & editor folders 
.vscode/
.idea/
*.suo
*.user

# OS artifacts 
.DS_Store
Thumbs.db